:root {
  --black: black;
  --white: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

a {
  color: #2563eb;
  text-decoration: underline;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section_hero {
  background-color: #f9f9f9;
  padding-top: 2rem;
}

.component_header {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.header_wrap {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.header_logo-wrap {
  min-width: 24.8125rem;
  min-height: 2.625rem;
}

.image-fit-contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 61rem;
  margin-left: auto;
  margin-right: auto;
}

.container.clip {
  overflow: clip;
}

.container.is-nav {
  justify-content: flex-start;
  align-items: center;
  max-width: 84rem;
  display: flex;
}

.heading-style-h1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.heading-style-h1.text-color-gray {
  color: #71717a;
}

.spacer-medium {
  padding-top: 2rem;
}

.button-group {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.button.is-secondary {
  border: 1px solid var(--\<unknown\|variable-551aa6d2-4bf8-6036-137a-78e1c71841a4\>);
  color: var(--\<unknown\|variable-7cd2a57e-6f21-74f7-6ce6-096306cecf3e\>);
  background-color: #0000;
}

.button.is-link {
  font-size: .75rem;
}

.button.is-link.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button_link {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: var(--black);
  text-align: center;
  background-color: #fff;
  border: 1px solid #e4e4e7;
  border-radius: .3125rem;
  justify-content: center;
  align-items: center;
  padding: .75rem 1rem;
  font-size: .875rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .26s;
  display: flex;
  box-shadow: 0 1.5px 4px #0000001a;
}

.button_link:hover {
  background-color: #f5f5f6;
}

.button_link.is-support {
  text-align: left;
  border-radius: .8125rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.section_products-slider {
  background-color: #f9f9f9;
  overflow: hidden;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.text-size-medium {
  font-size: 1.25rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.product-slider_component {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-color: #fff;
  border: 1px solid #e4e4e7;
  border-radius: .8125rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: start;
  box-shadow: 0 6px 12px #0000001a;
}

.product-slider_slider {
  background-color: #0000;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.product-slider_mask {
  width: 33.33%;
  overflow: visible;
}

.product-slider_slide {
  border-right-width: 1px;
  border-right-color: #000;
}

.product-slider_lightbox-link, .product-slider_image-wrapper {
  width: 100%;
}

.product-slider_image {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-slider_arrow {
  border: 1px solid var(--\<unknown\|variable-d4c54ba4-ee41-67ce-58a5-5216ca039f83\>);
  background-color: var(--\<unknown\|variable-248be024-93cf-6ec4-8eec-0e9f047a83ae\>);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: none;
  inset: auto 0% 0% auto;
}

.product-slider_arrow.is-left {
  display: none;
  right: 4rem;
}

.product-slider_arrow-icon {
  color: var(--\<unknown\|variable-419fddc9-288d-5141-33c5-0873c4ce2f53\>);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.product-slider_slide-nav {
  height: 1.75rem;
  font-size: .5rem;
  inset: auto auto 0% 0%;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.product_wrap {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-right: 1px solid #e4e4e7;
  flex-flow: column;
  height: 100%;
  padding: 2rem;
  display: flex;
  overflow: hidden;
}

.product_logo-wrap {
  max-width: 10rem;
}

.product_logo-wrap.is-tket {
  max-width: 6.2rem;
}

.product_description {
  color: #71717a;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25;
}

.product_description.is-link {
  font-size: .75rem;
}

.product_description.is-list {
  text-wrap: pretty;
  font-size: .75rem;
}

.product_link-wrap {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  text-decoration: none;
  display: flex;
}

.product_link-text {
  color: #2563eb;
  text-wrap: balance;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.5;
}

.hide {
  display: none;
}

.section_links {
  background-color: #f9f9f9;
}

.component_grid {
  grid-column-gap: 3.5rem;
  grid-row-gap: 3.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular.text-color-gray {
  color: #71717a;
}

.text-size-small {
  color: #71717a;
  margin-bottom: 0;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-size-small.text-weight-semibold {
  font-weight: 600;
}

.flex_vertical {
  flex-flow: column;
  display: flex;
}

.flex_vertical.gap_-5 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}

.footer_component {
  background-color: #f9f9f9;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-vertical, .padding-vertical.padding-xxlarge {
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom, .padding-bottom.padding-xxlarge {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer_top-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.footer_logo-link {
  float: none;
  max-width: 8.75rem;
  padding-left: 0;
  display: block;
}

.spacer-tiny {
  width: 100%;
  padding-top: .25rem;
}

.footer_social-list {
  grid-column-gap: .75rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: start;
  display: grid;
}

.footer_social-link {
  color: var(--\<unknown\|variable-ad940cb5-1815-151e-2cbc-4f27dec2b1e5\>);
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  display: flex;
}

.icon-embed-xsmall {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.footer_menu-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  display: flex;
}

.footer_link-list {
  text-align: right;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  justify-content: flex-start;
  place-items: flex-end start;
  display: flex;
}

.footer_link {
  color: #71717a;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
  font-weight: 400;
  text-decoration: none;
}

.line-divider {
  background-color: var(--\<unknown\|variable-d4c54ba4-ee41-67ce-58a5-5216ca039f83\>);
  width: 100%;
  height: 1px;
}

.padding-top, .padding-top.padding-medium {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer_bottom-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_credit-text {
  font-size: .875rem;
}

.footer_legal-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.footer_legal-link {
  color: var(--\<unknown\|variable-ad940cb5-1815-151e-2cbc-4f27dec2b1e5\>);
  font-size: .875rem;
  text-decoration: underline;
}

.flex_horizontal {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.flex_horizontal.gap_1 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex_horizontal.gap_-5 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}

.footer_link-list-header {
  color: #000;
  font-size: .6875rem;
  font-weight: 600;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e4e4e7;
  padding-top: .75rem;
  padding-bottom: .75rem;
  position: sticky;
  top: 0;
}

.navbar_logo-wrap {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar_logo {
  max-width: 8.75rem;
  height: 100%;
  display: flex;
}

.navbar_menu {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  display: flex;
}

.icon-embed-xxsmall {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.navbar_link {
  color: #000;
}

.section_products-list {
  background-color: #f9f9f9;
}

.product-list_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  background-color: #fff;
  border-top: 1px solid #e4e4e7;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 2rem 2.5rem;
  display: grid;
  overflow: hidden;
}

.product-list_component.with-border {
  border-top: 1px solid #e4e4e7;
  border-bottom: 1px #e4e4e7;
}

.product-list_component.is-first {
  border-top-style: none;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.product-list_image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product_list-wrap {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  border-radius: 1.25rem;
  flex-flow: column;
  display: flex;
  overflow: clip;
  box-shadow: 0 2px 5px #0003;
}

.product_list-wrap.is-horizontal {
  flex-flow: row;
}

.detail-card {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  background-color: #fff;
  border-top: 1px solid #e4e4e7;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  max-width: 33.3333%;
  padding: 2rem;
  display: flex;
  overflow: hidden;
}

.detail-card.with-border {
  border: 1px solid #e4e4e7;
  border-bottom-style: none;
}

.detail-card.is-first {
  border-top-style: none;
}

.heading-style-h2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.45rem;
  font-weight: 600;
  line-height: 1.2;
}

.heading-style-h2.text-color-gray {
  color: #71717a;
}

.product_description-wrap {
  height: 4.5rem;
}

.text-size-xsmall {
  font-size: .75rem;
}

.text-size-xsmall.text-color-gray {
  color: #71717a;
}

.seperator-line {
  background-color: #e4e4e7;
  height: 1px;
}

.spacer-large {
  padding-top: 3rem;
}

.navbar_links-wrap {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  margin-left: 2rem;
  display: flex;
}

.nav_link {
  color: #000;
  border-radius: .25rem;
  padding: .5rem 1rem;
  font-size: .875rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .26s;
}

.nav_link:hover {
  background-color: #f4f4f5;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .spacer-xxlarge {
    padding-top: 4.5rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer_top-wrapper {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .product-list_component {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .product_list-wrap.is-horizontal {
    flex-flow: column;
  }

  .detail-card {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: none;
    min-height: auto;
  }

  .detail-card.with-border {
    border-style: solid none;
  }

  .product_description-wrap {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .component_header {
    grid-template-columns: 1fr;
  }

  .header_logo-wrap {
    min-width: auto;
    min-height: auto;
  }

  .heading-style-h1.text-color-gray {
    font-size: 1.5rem;
  }

  .spacer-small {
    padding-top: 1.25rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .product-slider_mask {
    width: 50%;
  }

  .product-slider_slide {
    padding-right: 1.5rem;
  }

  .product-slider_arrow.is-left {
    right: 3.5rem;
  }

  .component_grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer_top-wrapper {
    grid-row-gap: 3rem;
  }

  .footer_menu-wrapper {
    grid-column-gap: 1.5rem;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer_link-list {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 1rem;
  }

  .footer_credit-text {
    margin-top: 2rem;
  }

  .footer_legal-list {
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
  }

  .product-list_component, .detail-card {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .component_header {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .button-group {
    grid-template-columns: 1fr;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer_menu-wrapper {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .product-list_component, .detail-card {
    grid-template-columns: 1fr;
  }
}

#w-node-_190ab80b-6ed6-7351-35be-2accb7933157-c2a09c1d {
  justify-self: center;
}

#w-node-c6173a0f-f663-21c6-62d6-04d227112a72-c2a09c1d {
  place-self: center;
}

#w-node-_190ab80b-6ed6-7351-35be-2accb7933157-3bd06415, #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-76da12db, #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-9cef236c {
  justify-self: end;
}

@media screen and (max-width: 767px) {
  #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-c2a09c1d {
    order: -9999;
    justify-self: center;
  }

  #w-node-c6173a0f-f663-21c6-62d6-04d227112a72-c2a09c1d, #w-node-e83de36d-198e-e006-eaa4-76da440cbd76-c2a09c1d, #w-node-f0c4217f-9d1f-0ed9-1d1c-8741d622147b-c2a09c1d, #w-node-d271377f-8205-8307-a2da-ffb538d848be-c2a09c1d {
    order: -9999;
  }

  #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-3bd06415, #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-76da12db, #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-9cef236c {
    order: -9999;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-c2a09c1d, #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-3bd06415, #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-76da12db, #w-node-_190ab80b-6ed6-7351-35be-2accb7933157-9cef236c {
    order: -9999;
    justify-self: center;
  }
}


